body {
  font-family: 'Raleway';
}
.home {
  background: url("../images/alectoHomeBackground.png") center center;
  background-repeat: no-repeat;
  -webkit-background-size: content content;
          background-size: content;
  color: #fff;
  height: 100vh;
  position: relative;
}
.home .theBanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
}
.home .container {
  z-index: 999;
}
.home .container .navbar {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}
.home .container .navbar .navbar-brand {
  padding-left: 0;
  margin-left: 0;
}
.home .container .navbar .navbar-collapse {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.home .container .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 30px;
}
.home .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.home .container .headerContent {
  text-align: center;
  margin-top: 10%;
  font-family: "Proxima Nova";
}
.home .container .headerContent h1 {
  font-family: 'Raleway-Thin';
  color: #ffffff;
  font-size: 60px;
}
.home .container .headerContent h1 span {
  font-family: 'Nova';
  letter-spacing: 1.5px;
  font-size: 80px;
  font-weight: bolder;
}
.home .container .headerContent p {
  font-family: 'Raleway';
  letter-spacing: 0.6px;
  font-weight: 300;
  font-size: 24px;
}
.home .container .headerContent button {
  background: none;
  border-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-weight: bolder;
  font-family: 'Raleway';
  padding: 19px 50px;
  cursor: pointer;
  margin-top: 80px;
}
.home .getMore {
  position: absolute;
  bottom: 10px;
  left: 49%;
  text-align: center;
  -webkit-animation: goDown 1s infinite;
          animation: goDown 1s infinite;
}
.home .getMore a {
  color: #fff;
  font-size: 50px;
}
@-webkit-keyframes goDown {
  0%,
  100% {
    bottom: 10px;
  }
  50% {
    bottom: 5px;
  }
}
@keyframes goDown {
  0%,
  100% {
    bottom: 10px;
  }
  50% {
    bottom: 5px;
  }
}
@media screen and (max-width: 480px) {
  .home .container .headerContent h1 {
    font-size: 30px;
  }
  .home .container .headerContent h1 span {
    font-size: 40px;
    display: block;
  }
  .home .container .headerContent button {
    margin-top: 50px;
  }
}
.aboutUs {
  padding: 110px 0;
}
.aboutUs .aboutUsHeader {
  padding-bottom: 70px;
}
.aboutUs .aboutUsHeader h2 {
  font-family: 'Raleway';
  font-size: 60px;
  font-weight: 200;
}
.aboutUs .aboutUsHeader p {
  font-size: 18px;
  font-family: 'Nova';
}
.aboutUs .aboutUsMainContent {
  padding: 70px 0;
  background: white;
}
.aboutUs .aboutUsMainContent .aboutUsMainContentList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.aboutUs .aboutUsMainContent .aboutUsMainContentList .aboutUsMainContentItem a {
  text-decoration: none;
  background-color: rgba(135, 149, 159, 0.07);
  padding: 37px 37px;
  display: inline-block;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}
.aboutUs .aboutUsMainContent .aboutUsMainContentList .aboutUsMainContentItem .theSelected {
  background-color: #17daa3;
}
.aboutUs .aboutUsMainContent .aboutUsMainContentList .aboutUsMainContentItem h3 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 400;
}
.aboutUs .aboutUsMainContent .aboutUsMainContentList .aboutUsMainContentItem p {
  margin: 0;
  padding: 0 10px;
  font-size: 18px;
  font-family: 'Nova';
}
.aboutUs .aboutUsBottom {
  padding-top: 70px;
}
.aboutUs .aboutUsBottom button {
  background-color: #17daa3;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 2px solid #ffffff;
  padding: 19px 50px;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}
.photo {
  background-color: rgba(135, 149, 159, 0.07);
  font-family: 'Raleway';
  padding: 110px 60px;
}
.photo h2 {
  color: #576671;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.photo p {
  font-family: "Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.45px;
}
.photo button {
  background-color: #17daa3;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 2px solid #ffffff;
  padding: 19px 50px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}
.mac {
  font-family: 'Raleway';
  padding: 110px 60px;
}
.mac h2 {
  color: #576671;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.mac p {
  font-family: "Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.45px;
}
.mac button {
  background-color: #17daa3;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 2px solid #ffffff;
  padding: 19px 50px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}
.opinions {
  background: url('../images/opinionsBackground.png') center center no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  margin-bottom: 0px;
}
.opinions .mySlider {
  position: relative;
  -webkit-animation: none;
          animation: none;
}
.opinions .mySlider .carousel {
  padding: 10px 0 100px 0;
  position: relative;
}
.opinions .mySlider .carousel .indicator-carousel {
  display: inline-block;
  text-align: center;
  padding: 0;
  position: absolute;
  left: 48%;
  bottom: 10px;
}
.opinions .mySlider .carousel .indicator-carousel li {
  display: inline;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.opinions .mySlider .carousel .indicator-carousel li span {
  font-size: 10px;
}
.opinions .mySlider .carousel .carousel-inner .carousel-item img {
  margin: 0 auto;
  display: block;
  max-width: 104px;
  height: auto;
}
.opinions .mySlider .carousel .carousel-inner .carousel-item .slider-info {
  margin-top: 20px;
  border: 1px dashed black;
}
.opinions .mySlider .carousel .carousel-inner .carousel-item .slider-info h3 {
  font-family: 'Raleway';
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
}
.opinions .mySlider .carousel .carousel-inner .carousel-item .slider-info h3 span {
  color: #17daa3;
  letter-spacing: 0.75px;
}
.opinions .mySlider .carousel .carousel-inner .carousel-item .slider-info p {
  font-size: 18px;
  opacity: 0.5;
  font-weight: 300;
}
.ourServices {
  margin-top: 0px;
  background: #f7f8f9;
}
.ourServices .ourServicesHeader h1 {
  font-family: "Raleway";
  color: #87949e;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 1.5px;
}
.ourServices .ourServicesHeader p {
  font-family: "Nova";
  color: #87949e;
  font-size: 18px;
  font-weight: 100;
}
.ourServices .ourServicesContent {
  padding: 0;
}
.ourServices .ourServicesContent .servicesList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ourServices .ourServicesContent .servicesList .servicesItem .itemIcon .theImg {
  background: #ffffff;
  padding: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
}
.ourServices .ourServicesContent .servicesList .servicesItem .itemIcon .theImg img {
  padding: 0;
  cursor: pointer;
  width: 100%;
}
.ourServices .ourServicesContent .servicesList .servicesItem .itemInfo h2 {
  font-size: 50px;
  font-family: 'Raleway';
  color: #576671;
  letter-spacing: 1.5px;
  font-weight: 200;
}
.ourServices .ourServicesContent .servicesList .servicesItem .itemInfo P {
  font-family: "Nova";
  line-height: 47.91px;
  font-weight: 200;
  font-size: 18px;
  color: #87949e;
}
.meetOurTeam .ourTeamHeader h1 {
  font-family: "Raleway";
  color: #87949e;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 1.5px;
}
.meetOurTeam .ourTeamHeader p {
  font-family: "Nova";
  color: #87949e;
  font-size: 18px;
  font-weight: 100;
}
.meetOurTeam .teamMember {
  width: 20%;
  background: #f7f7f9;
  cursor: pointer;
  -webkit-transition: 2s ease;
  -o-transition: 2s ease;
  transition: 2s ease;
}
.meetOurTeam .teamMember:nth-child(odd) {
  background: #dedede;
}
.meetOurTeam .teamMember:hover {
  background: #48d99b;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.meetOurTeam .teamMember:hover h3 {
  visibility: visible;
  -webkit-transition: .5s linear;
  -o-transition: .5s linear;
  transition: .5s linear;
}
.meetOurTeam .teamMember h3 {
  color: #ffffff;
  margin: 100px 0;
  text-align: center;
  visibility: hidden;
  -webkit-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
}
.pricing {
  background: #f7f8f9;
}
.pricing .pricingHeader h1 {
  font-family: "Raleway";
  color: #87949e;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 1.5px;
}
.pricing .pricingHeader p {
  font-family: "Nova";
  color: #87949e;
  font-size: 18px;
  font-weight: 100;
}
.pricing .pricingContent .packageList {
  list-style: none;
  padding: 0px;
}
.pricing .pricingContent .packageList li:first-child {
  left: 0;
}
.pricing .pricingContent .packageList li .package {
  position: relative;
  background: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 15px;
}
.pricing .pricingContent .packageList li .package .packagePrice {
  font-size: 60px;
  color: #17daa3;
  font-weight: 200;
  margin-bottom: 0;
}
.pricing .pricingContent .packageList li .package .packagePrice sup {
  letter-spacing: 1.5px;
}
.pricing .pricingContent .packageList li .package .packageName {
  margin-top: 0;
  margin-bottom: 120px;
  font-size: 18px;
  font-family: "Nova";
  font-weight: 100;
  color: #87949e;
}
.pricing .pricingContent .packageList li .package .packageDescription {
  font-family: "Nova";
  font-size: 18px;
  letter-spacing: 0.45px;
  font-weight: 200;
  margin-bottom: 100px;
  color: #87949e;
}
.pricing .pricingContent .packageList li .package button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0px;
  padding: 15px;
  background: #48d99b;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  border-color: transparent;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
  -webkit-transition: -webkit-box-pack 2s, -webkit-justify-content 2s;
  transition: -webkit-box-pack 2s, -webkit-justify-content 2s;
  -o-transition: justify-content 2s;
  transition: justify-content 2s;
  transition: justify-content 2s, -webkit-box-pack 2s, -webkit-justify-content 2s, -ms-flex-pack 2s;
  cursor: pointer;
}
.pricing .pricingContent .packageList li .package button span {
  color: #48d99b;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.pricing .pricingContent .packageList li .package button:hover span {
  color: white;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.map .mapDescription {
  padding: 100px 0 50px 0;
}
.map .mapDescription h2 {
  color: #576671;
  font-size: 60px;
  margin-bottom: 60px;
  padding-top: 30px;
  font-weight: 200;
}
.map .mapDescription p {
  color: #87949e;
  font-size: 18px;
  font-family: "Nova";
  margin-bottom: 60px;
}
.map .mapDescription button {
  background-color: #17daa3;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 2px solid #ffffff;
  padding: 19px 50px;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}
.map .mapImg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.map .mapImg img {
  width: 100%;
}
.try .tryContent {
  background: url("../images/tryBackground.png") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 150px 0;
}
.try .tryContent h2 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 80px;
}
.try .tryContent h2 span {
  font-weight: 700;
}
.try .tryContent button {
  background-color: #17daa3;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: none;
  padding: 19px 50px;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}
footer {
  padding: 20px 0;
  text-align: center;
}
footer p {
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0;
  color: #17daa3;
}
